.glass {
    @apply bg-white/30 backdrop-blur-xl border border-white/20 shadow-lg rounded-xl;
}

.card {
    @apply glass p-6 shadow-xl hover:shadow-2xl transition;
}

.table-row-hover {
    @apply hover:bg-white/10 hover:shadow-xl transition duration-200;
}

.btn {
    background: linear-gradient(135deg, #6366f1, #8b5cf6, #ec4899);
    animation: btnGradientMove 6s ease infinite;
    margin: 12px 0;
    padding: 10px 122px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    filter: brightness(1.15);
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
    filter: brightness(0.9);
}

@keyframes btnGradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.btn-secondary {
    @apply px-5 py-2.5 rounded-lg font-semibold text-white/80 border border-white/30 backdrop-blur-xl transition inline-block;
}

.btn-secondary:hover {
    @apply text-white border-white/60;
    background: rgba(255, 255, 255, 0.1);
}

.ml-1 {
    margin-left: 25px;
}