@using WebApplication16.Data.Models
@{
    var doc = new Document
    {
        Id = 1,
        Title = "AmazingPresentation.pdf",
        Status = Document.DocumentStatus.Approved,
        BlobName = "amazing.pdf"
    };
}

<div class="glass p-10 rounded-xl space-y-6">

    <h1 class="text-4xl font-bold">@doc.Title</h1>

    <p class="text-xl"><b>Status:</b> @doc.Status</p>
    <p class="text-xl"><b>Blob:</b> @doc.BlobName</p>

    <a class="btn">Download</a>

    <a href="/Document" class="btn-secondary">Back</a>

</div>
